body {
	padding:  0px;
	margin:  0px;
}
div.form-student, div.list-student {
    border: 1px solid #ccc;
    margin: 25px;
    padding: 10px;
    float: left;
}
div.list-student {
	width: 650px;
}
h3 {
    color: #ffff;
    text-align: center;
    background: #4caf50;
    padding: 0px;
    margin-top: 0px;
    width: 250px;
}
div.form-student label {
	width: 100px;
	float: left;
}
div.form-student input[type="text"], button {
	margin-bottom: 10px;
	width: 200px;
	padding:  5px;
}
button {
	margin-top: 15px;
    width: 105px;
}

.error {
	color: red;
}